  <link href="./output.css" rel="stylesheet">

<h1>Hello mrs <%= firstname %> </h1>
<p>Add a Post</p>

<form action="" method="post">
        <div>
        <label for="title">First Name</label>
        <input type="text" id="title" name="title" required>
        </div>

    <div>
        <label for="description">Last Name</label>
        <input type="text" id="description" name="description" required>
    </div>
    <button type="submit">Post</button>
</form>