<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./output.css" rel="stylesheet">

</head>

<div class="bg-emerald-800 w-full h-screen flex justify-center items-center">
    <form action="" method="post">
        <div class="bg-gray-700 max-w-max text-white rounded-2xl p-4 flex flex-col items-center gap-3">
            <label for="Enter The Riddle">
               Courage Is a Love Affair with the Unknown
            </label>
            <input type="text" placeholder="Enter Code" name="riddle" id="riddle" class="bg-amber-50 rounded-b-md text-gray-500 p-1">
            <input type="submit" value="Enter" class="bg-green-700 px-6">
        </div>
    </form>
</div>

</body>
</html>